{% extends 'layouts/_login.html' %}
{% block title %}{{super()}} - Tudo Sobre Investir Globalmente{% endblock %}

{% block content %}

  <form method="post" class="form">
    {{ form.csrf_token }}
    <h3 class="form-heading">Login <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.username(class='form-control', placeholder='username') }}
    {{ form.password(class='form-control', id='inputPassword') }}
    &nbsp;&nbsp;{{ form.rememberme(class='form-check-input') }} Remember me
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

  {% if form.errors.email %}
     <div class="subscribe-alert" role="alert">
        <ul>
          {% for e in form.errors.email %}
          <li>{{ e }}</li>
          {% endfor %}
        </ul>
      </div>
  {% endif %}

{% endblock %}