{% extends 'layouts/_topic_base.html' %}

{% block title %}{{ topic }}{% endblock %}

{% block content %}

		  <!--container-main -->
		  <div class="jumbotron rounded bg-white">
		  	<h3 class="d-inline-block mb-4 text-primary font-italic border-bottom">{{ topic }}</h3>
			{% for i in range (0, len) %} 
		  	<!--gomo ini -->
		    <div class="col-md-12 rounded bg-white">
		      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
		        <div class="col p-4 d-flex flex-column position-static">
		          <strong class="d-inline-block mb-2 text-primary">{{ topic }}</strong>
		          <h3 class="mb-0">{{ content_title[i] }}</h3>
		          <div class="mb-1 text-muted">{{ created_at[i] }} por <a href="author/{{ content_author[i] }}">{{ content_author[i] }}</a></div>
		          <!--p class="card-text mb-auto">{{ content_desc[i] }}</p-->
		          <a href="/content/{{ content_id[i] }}" class="stretched-link">Continue reading</a>
		        </div>
		        <div class="col-auto d-none d-lg-block">
			        {% if image_thumb[i] %}
			        <img src="static/images/content/thumb/{{ image_thumb[i] }}">
			        {% else %}

			        {% endif %}
		        </div>
		      </div>
		    </div>
		  	<!--gomo fim -->
			{% endfor %}



		  </div>

		  <!--fim-container-main -->

{% endblock %}